/* ?============= SERVICE.CSS =============?*/

/* ?==== copyright 2023 Muhammad Usama (Alpha97) =====?*/


/* *TABLE OF CONTENT*/

    /* *COMPONENTS*/

/************ Card...........................Cards style */
/************ Btn............................Button style */

    /* *MAIN CONTENT*/

/************ Service........................Service style */
/************ Media queries..................Responsive for all devices */



/* ?============= COMPONENTS =============?*/

@import url(../components/card.css);
@import url(../components/btn.css);



/* ?============= SERVICES =============?*/

.service {
  padding-block-start: calc(var(--section-padding) + 60px);
}

.service-list {
  display: grid;
  gap: 25px;
}

.card-title {
  margin-block-end: 10px;
}

.card ion-icon {
  font-size: 3.2rem;
}

.card .body-sm {
  color: var(--jet);
}

.poem-list,
.poem-card {
  display: grid;
}

.poem-list {
  gap: 50px;
}

.poem-card {
  gap: 25px;
}


.poem-card .card-banner {
  position: relative;
  border: 2px solid var(--jet);
  box-shadow: 0 0 0 var(--jet);
  transition: var(--transition-1);
}

.poem-card .card-banner:is(:hover, :focus-within) {
  box-shadow: 3px 3px 0 var(--jet);
}

.poem-card .btn-icon {
  position: absolute;
  top: 15px;
  left: 0;
  background-color: var(--white);
  color: var(--jet);
  font-size: 2rem;
  padding: 8px;
  border: 2px solid var(--jet);
  opacity: 0;
  transition: var(--transition-1);
  will-change: transform;
}

.poem-card .card-banner:is(:hover, :focus-within) .btn-icon {
  transform: translateX(15px);
  opacity: 1;
}


/* ?============= MEDIA QUERIES =============?*/

/* *=========== RESPONSIVE FOR LARGE THAN 768PX SCREEN ===========* */

@media (min-width: 768px) {

  .service-list {
    grid-template-columns: 1fr 1fr;
  }

}